html,
body {
  height: 100%;
  width: 100%;
  font-size: 24px;
}

.vert-text {
  /*display: table-cell;
  vertical-align: middle;
  text-align: center;*/
  margin-right: auto;
  margin-left: auto;
  min-height: 80%
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{ /*subtitle*/
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
}

h4{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive; /* keep this font here */
  font-size: 60px;
  margin-bottom: 80px;
}

#helgen {
  margin-bottom: 10px;
}
.container{
  text-align: center;
}
.subtitle{
  margin-left: auto;
  margin-right: auto;
}

.brot {
  color: #9E7F45;
  font-family: 'Felipa', cursive;
  margin-right: auto;
  margin-left: auto;
  width:70%;
  min-height: 120%;
  vertical-align: center;
  padding-bottom: 80px;
}
#descriptionText {
}
#maplink{
  color: blue;
}

.container {
  height: 100%;
  position:relative;
}

/*brödtext-bitarna*/
.paper {
  position: relative;
  min-height: 100%;
  /*height: 100%;
  /*padding: 25%; 
  background: #DBC9A9;*/
  background: url(../img/old-timey.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    height: 20px;
    border-style: solid;
    border-color: #9E7F45;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;    
    border-style: solid;
    border-color: #9E7F45;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.menu {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 10%;
  right: 10%;
}

.menuItem {
  display: inline-block;
  text-align: center;
  padding: 8px;
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 150%;
}
#delim{
  position:absolute;
  bottom:5%;
  left:15%;
  right:15%;
}

a:link, a:visited { 
  color: #9E7F45;
  text-decoration: none;
}
a:hover { color: #44371E; text-decoration: none;}  /* user hovers     */
a:active { color: #44371E; text-decoration: none;}  /* active links    */
/* Callout */

#fria {
  background: url(../img/fria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gladallvarlig {
  background: url(../img/gladallvarlig.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#peace {
  background: url(../img/peace.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#sitta {
  background: url(../img/sitta.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#skiroKyrka {
  background: url(../img/skiro_scaled.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#lake {
  background: url(../img/wallbyvatten.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logotype{
  background: url(../img/logotyp.gif);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

#grr{
  height:60%;
  width:70%;
}

.photo {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/wallby.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.osalink{
  color: #44371E;
}

/* Responsive */

@media (max-width: 500px) {
  .menuItem {
    display: block;
    font-size: 20px;
  }

  .brot {
    padding-bottom: 250px;
  }
}
