/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
}

h2{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}
h3{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 350px;

}

h4{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}
p{
  color: #9E7F45;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}


.bigHeader {
  position: absolute;
  top: 20%;
  left: 5%
  right: 5%;
}

.subTitle {
  position: absolute;
  top: 70%;
  left: 30%;
  right: 30%;
}

.heading {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 20%;
}
/*
#vigselText {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
}

#vigselText p {
  left: 25%;
  right: 25%;
  top: 40%;
}
*/
.brot {
  position: absolute;
  margin-left:-400px;
  top:30%;
  width: 800px;
  left:50%;
}

.brot p{
 /* right:5%;
  left:5%;*/
  font-size: 170%;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/*brödtext-bitarna*/
.paper {
  height: 100%;
  /*padding: 25%; 
  background: #DBC9A9;*/
  background: url(../img/old-timey.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: #9E7F45;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #9E7F45;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.delim {
  background-image: url(../img/delim.png);
  height: 30px;
  width: 250px;
  margin:0; /* If you want no margin */
  padding:10px; /*if your want to padding */
  /*content: url(../img/delim.png);
  display: table;*/
}

.menu {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position:absolute;
  bottom:0;
  left:15%;
  right:15%;
}

.menuItem {
  display: inline-block;
  padding: 8px;
}

a:link, a:visited { 
  color: #9E7F45;
  text-decoration: none;
}
a:hover { color: #44371E; text-decoration: none;}  /* user hovers     */
a:active { color: #44371E text-decoration: none;}  /* active links    */
/* Callout */

#fria {
  background: url(../img/fria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gladallvarlig {
  background: url(../img/gladallvarlig.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#peace {
  background: url(../img/peace.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#sitta {
  background: url(../img/sitta.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#skiroKyrka {
  background: url(../img/Skiro_kyrka.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#lake {
  background: url(../img/wallbyvatten.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.photo {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/wallby.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #B86571;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Responsive */

@media (max-width: 800px) {

}
